// variables
$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);
$Brigh-blue: hsl(245, 75%, 52%);
body{
    padding: 50px 0;
    .desktop-pattern{
        .desktop-pattern-img{
            display: none; //remove desktop pattern
        }
    }

    .mobile-pattern{
        .mobile-pattern-img{
            z-index: -1;
            width: 100%;
            display: none;
        }
    }
}
.main_card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 50px;

    .img-area{
        width: 100%;
        .hero-img{
            width: 100%;
            border-radius: 10px 10px 0 0;
        }
    }

    .txt-area{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .hero-area{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1{
                text-align: center;
                margin: 20px 0;
                font-weight: 700;
            }
            p{
                text-align: center;
                width: 270px;
                line-height: 25px;
                font-size: 1rem;
                color: rgba(39, 39, 39, 0.678);
                font-weight: 400;
            }
        }

        .pricing-area{
            margin-top: 50px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            .pricing{
                margin-right: 50px;
                h2{
                    font-size: 1rem;
                    font-weight: 600;
                }
                p{
                    margin-top: 3px;
                    font-size: 0.8rem;
                    color: rgba(39, 39, 39, 0.678);
                    font-weight: 700;
                    letter-spacing: 1.5px;
                }
            }
            
            .music-img{
                margin-right: 15px;
                width: 50px;
                height: 50px;
            }

            a{
                font-size: 0.8rem;
                font-weight: 700;
                margin-left: 20px;
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .btn-area{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 50px;

            .first-btn{
                color: white;
                font-weight: 700;
                font-size: 1rem;
                padding: 15px 60px;
                background-color: $Brigh-blue;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 15px 10px rgba(109, 109, 109, 0.315);

                &:hover{
                    cursor: pointer;
                    background-color: hsl(245, 73%, 60%);
                }
            }

            .second-button{
                margin-top: 20px;
                border: none;
                background: none;
                color: rgba(39, 39, 39, 0.678);
                font-weight: 900;
                font-size: 0.9rem;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}